* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  height: 700px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.row {
  width: 100%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.col_1 {
  width: 10%;
  height: 50px;
  float: left;
}
.offset {
  margin-left: 5%;
}
